---
layout: default
---
{% if page.lang == 'fr' %}
  {% capture md_content %}{% include_relative _i18n/fr/home.md %}{% endcapture %}
  {{ md_content | markdownify }}
{% else %}
  {% capture md_content %}{% include_relative _i18n/en/home.md %}{% endcapture %}
  {{ md_content | markdownify }}
{% endif %}

<div class="language-switcher">
  {% if page.lang == 'fr' %}
    <a href="{{ site.baseurl }}/">English</a>
    Français
  {% else %}
    English
    <a href="{{ site.baseurl }}/fr">Français</a>
  {% endif %}
</div>